.container {
    width: 575px;
    height: 825px;
  
    background-color: #86aa5e;
    padding-left: 30px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border-radius: 8px;
  }
  nav{
    margin: 20px;
    padding: 10px;
    background: black;
    color: white;

  }
  a {
    color:rgb(15, 15, 15);
    text-align:center;
    border-color: white 2px;
    background-color: white;
    display: block;
    margin: 0 auto;
    text-decoration: black
    ;
    
  }
  h1{
    text-align: center;
    color: white;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: #fff;
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }
  